{% extends 'base.html' %}

{% block content %}

  <h1>Delete a song from {{ playlist.name }}</h1>

  <form id="delete-song-from-playlist-form" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
           if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field (class="form-control") }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>

    {% endfor %}

    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
{% endblock %}