{% extends 'base.html' %}

{% block content %}

<form id="playslist-add-form" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
  if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field (class="form-control") }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}
  <div class="text-center">
    <button type="submit" class="btn btn-secondary col-2 p-3">
      Add Playlist
    </button>
  </div>
</form>

{% endblock %}